h1{
    max-width: 756px;
    text-align: center;
    margin: 43px auto 40px;
    font-size: 22px;
    color: $titleColor;
    font-style: italic;
}

// slider

.slider-wrapper{
    width: 100%;
    max-width: 1160px;
    padding-bottom: 40px;
    border-bottom: 1px solid $lightGrey;
}
.slider-container{
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.paggination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .pag_item{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $green;
    }
    .pag_item.pag_active{
        border: 3px solid $green;
        background-color: $white;
    }
    .pag_item:not(last-child){
        margin-right: 6px;
    }
}
.slider-slides{
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-width: 100%;
}
.slider-slide{
    max-width: 1100px;
    min-width: 100%;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0 3px;
    }
}
.slider_text{
    position: absolute;
    bottom: 6%;
    right: 8%;
    max-width: 350px;
    .slider_text-title{
        width: 100%;
        background-color: $green;
        padding: 11px 23px 7px 23px;
        margin-bottom: 10px;
        font-size: 22px;
        color: $white;
        text-transform: capitalize;
    }
    .slider_text-main{
        padding: 13px;
        background-color: $white;
    }
}
.arrows{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 98%;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
}
.arrow{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 3px solid $green;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: transparentize($darkGrey, .1);
    }
}
.arrow_svg {
    display: inline-block;
    width: 16px;
    height: 28px;
    fill: $green;
}
body.mobile .arrows{
    display: none;
}
@media (max-width: 960px){
    .carousel{
        margin-top: 160px;
    }
}
@media(max-width: 769px) {
    .carousel{
        margin-top: 160px;
    }
    .arrows{
        width: 96%;
        left: 2%;
    }
    .arrow{
        width: 38px;
        height: 38px;
    }
    .arrow_svg{
        width: 10px;
        height: 22px;
    }
    .slider-wrapper{
        height: 440px
    }
}
@media(max-width: 500px) {
    .slider_text {
        bottom: 3px;
        right: 7px;
        max-width: 94%;
    }
    .slider-wrapper{
        height: 380px
    }
}
@media(max-width: 442px) {
    .slider_text .slider_text-title{
        font-size: 16px;
        margin-bottom: 4px;
    }
    .slider_text .slider_text-main{
        font-size: 12px;
    }
    .slider-wrapper{
        height: 406px
    }
}