$borderBottomFooter: 1px solid lighten($darkGrey, .7);

footer p {
    margin: 0;
}
footer h3{
    color: $lightGrey;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: $borderBottomFooter;
}
footer a{
    color: $mainText;
}
.container-footer{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    border-color: $background;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0 32px 0;
    border-bottom: $borderBottomFooter;
}
.footer_block{
    width: 25%;
    min-width: 188px;
    max-width: 225px;
    &:not(:last-child){
        padding-right: 20px;
    }
} 
.footer-info{
    margin-bottom: 20px;
    a{
        display: block;
    }
    p, a {
        margin: 0 0 4px 0;
    } 
    span:hover{
        color: $green;
    }
    h4{
        margin-bottom: 7px;
        padding: 0;
    }
}

.social{
    display: flex;
    align-items: center;
    padding-bottom: 7px;
    margin-bottom: 14px;
    border-bottom:  $borderBottomFooter;;
}
.social-icon{
    width: 32px;
    height: 32px;
    margin-right: 11px;
    .social-icon-sircle{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: lighten($darkGrey, .9);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    svg{
        width: 16px;
        height: 100%;
        fill: $white;
    }
}
.social-link{
    a{
        color: $green;
        &:hover{
            color: darken($green, 10%);
        }
    }
}

.footer_blog {
    h4{
        padding: 0;
        margin: 0;
        margin-bottom: 11px;
    }
    span{
        display: block;
        font-size: 11px;
        margin-bottom: 11px;
    }
    p{
        margin-bottom: 14px;
    }
}

.footer_form{
    .form_input{
        width: 100%;
        background-color: $darkGrey;
        border: none;
        box-shadow: none;
        resize: none;
        padding: 10px;
        margin-bottom: 10px;
        color: $lightGrey;
        border-radius: 6px;
    }
    textarea{
        min-height: 110px;
    }
}
.main_btn{
    border-radius: 6px;
    border: none;
    background-color: $green;
    padding: 10px 12px;
    text-transform: uppercase;
    color: $darkGrey;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    &:hover{
        transition: .2s;
        background-color: darken($green, 10%)
    }
    &:active{
        transition: .2s;
        background-attachment: lighten($green, 10%);
    }
}

.footer_copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.footer_copyright-info:first-child{
    margin: 20px 10px 20px 0px;
}
.footer_copyright-info:last-child{
    margin: 20px 0 20px 0;
}
@media(max-width: 376px) {
    .footer_inner{
        flex-direction: column;
    }
    .footer_block{
        width: 100%;
        min-width: auto;
        max-width: unset;
    }
    .footer_block:not(:last-child){
        padding-right: unset;
    }
}